.text-container,h1, p {
    font-family: Rubik, sans-serif
}

* {
    margin: 0
}

body {
    background-color: #0f1214;
    color: #fffffe;
    overflow-x: hidden
}

h1 {
    font-size: 42px;
}

.divider {
    margin: 12px 0;
    border-bottom: 2px solid #006ad3;
}

.container {
	text-align: center;
	margin:auto;
    padding: 40px;
    max-width: 600px
}

#blinker,
#t-text {
    font-size: 24px;
    font-family: monospace
}

#blinker {
    border-right: 8px solid #fff;
    animation: 1s step-start infinite blink
}

.text-container {
    margin: 12px 0;
    font-weight: 400;
    text-align: left;
}

.text-container p {
    margin: 24px 0;
    font-size: 22px;
}

.text-container a {
    color: #a0a0ab;
    text-decoration: none;
    font-weight: 300
}

.img-container {
    max-width: 600px;
    margin: 48px 0
}

.img-container img {
    width: auto;
    height: auto;
    max-height: 240px;
    border-radius: 200px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
}

@keyframes blink {
    50% {
        opacity: 0
    }
}
.techs {
	font-size: 14px;
	text-align: left;
}